<app-modal>
    @if (parent) {
      <h2 class="text-xl font-semibold mb-4 text-gray-800">
        New Sub Organization
      </h2>
      <h2 class="text-sm font-semibold mb-4 text-gray-800">
        Parent: {{ parent.name }} 
      </h2>
    } @else {
      <h2 class="text-xl font-semibold mb-4 text-gray-800">New Organization</h2>
    }

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
      <div>
        <input
          formControlName="name"
          type="text"
          placeholder="Name"
          class="custom-input"
        />
        @if (nameError()) {
          <div class="custom-input-message">
            {{nameError()}}
          </div>
        }
      </div>

      <div class="flex justify-end gap-2">
        <button type="button" (click)="cancel()" class="custom-button-neutral">
          Cancel
        </button>
        <button type="submit" class="custom-button">
          Create
        </button>
      </div>
    </form>
</app-modal>
