<div class="min-h-screen bg-gray-50 p-6">
  <!-- Header -->
  <div class="flex justify-between items-center mb-6">
    @if (user) {
      <div>
        <h1 class="text-2xl font-semibold text-gray-800">Welcome, {{ user.name }}</h1>
        <p class="text-sm text-gray-600">{{ user.email }}</p>
      </div>
    }
    <button (click)="logoff()" class="custom-link">Log off</button>
  </div>

  <!-- Create Buttons -->
  <div class="flex gap-4 mb-6">
    <button (click)="createOrganization()" class="custom-button">
      + New Organization
    </button>
  </div>
  <app-alert [message]="errorMessage"></app-alert>
  <!-- Organization List -->
  @for (org of organizations; track org.id) {
    <div class="bg-white shadow rounded p-4 mb-4">
      <div class="flex justify-between items-center">
        <a 
          [routerLink]="['/organizations', org.id]" 
          class="text-lg font-semibold hover:underline custom-link"
        >
          {{ org.name }}
        </a>
        <div class="flex gap-2 items-center">
          <button (click)="toggle(org.id)" class="text-sm text-gray-600 hover:text-black">
            @if (expanded()[org.id]) { Hide } @else { Show }
          </button>
        </div>
      </div>

      @if (expanded()[org.id]) {
        <button (click)="createSubOrganization(org)" class="custom-link text-sm">
          + Add Sub-Organization
        </button>
        @if (getSubOrganizations(org).length) {
          <div class="mt-2 text-gray-700">
            @for (sub of getSubOrganizations(org); track sub.id) {
             <div class="m-4">
                 <a [routerLink]="['/organizations', sub.id]" class="custom-link">
                   {{ sub.name }}
                 </a>
               </div>
             }
          </div>
        }
      }
    </div>
  }
  @if (showCreateOrganizationModal) {
    <app-create-organization-modal 
      (create)="handleCreateOrganization($event)"
      (ngClose)="showCreateOrganizationModal = false"
    />
  }
  @if (showCreateSubOrganizationModal) {
    <app-create-organization-modal 
      [parent]="selectedParentOrg"
      (create)="handleCreateSubOrganization($event)"
      (ngClose)="showCreateSubOrganizationModal = false"
    />
  }
  <app-loading [loading]="isLoading"></app-loading>
</div>
